.profile-section {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: left;
}

.profile-picture {
    
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.name h1 {
    color: #ededed;
    margin: 0;
}

.name h2 {
    color: #00abf0;
    margin: 5px 0 0 0;
}

.content {
    margin-top: 20px;
    max-width: 600px;
    line-height: 1.6;
}

.content p {
    color: #ededed;
    margin: 0;
}
