.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #090E16;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
  }
  
  .name {
    color: #7B4AE2;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-elements {
    display: flex;
    gap: 20px;
  }
  
  .nav-elements button {
    background-color: transparent;
    border: none;
    color: #ccd6f6;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .nav-elements button:hover {
    color: #7B4AE2;
  }

  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #ccd6f6;
    margin: 4px 0;
    transition: 0.4s;
  }
  .content{
    width: 100%;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .nav-elements {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      background-color: #090E16;
      padding: 20px;
    }
  
    .nav-elements.open {
      display: flex;
    }
  
    .hamburger {
      display: flex;
      margin-right: 3%;
    }
  }
  