.projects-container {
    padding: 20px;
    background-color: #090E16;
    color: #ededed;
  }
  
  .projects-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #7B4AE2;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .project-card {
    background-color: #1a2232;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    max-height: 400px;
  }
  
  .project-card img {
    width: 100%;
    height: 150px; /* Reduced height */
    object-fit: cover;
  }
  
  .project-details {
    padding: 15px;
  }
  
  .project-details h3 {
    color: #7B4AE2;
    margin-bottom: 5px;
  }
  
  .project-details p {
    margin-bottom: 10px;
    color: #ededed;
    font-size: 14px; /* Smaller font size */
    line-height: 1.4; /* Adjusted line height for better readability */
  }
  
  .project-details a {
    display: inline-block;
    background-color: #7B4AE2;
    color: #0a192f;
    padding: 8px 12px; /* Reduced padding */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 14px; /* Smaller font size */
  }
  
  .project-details a:hover {
    background-color: #5c3bb2;
  }
  